{% extends "base.html" %}
{% block content %}

<style media="screen" type="text/css">
.ikonoj {
	text-align: center;
	font-size: 70%;
	color: gray;
	line-height: 1em;
}

.ikonoj a {
	color: gray;
}

.ikonoj .elsxuti {
	color: #A260BF;
}
</style>

<center class="ikonoj">
	<div class="pure-u-1-6" >
		<a href="{{ SITEURL }}/katalogo/ocarina">
			<img
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ocarina.bn.png" style="width: 100%; max-width: 256px"
				onmouseover="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ocarina.kol.png';"
				onmouseout="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ocarina.bn.png';" /><br/>
				אוקלינה</a><br />
		<a href="{{ SITEURL }}/senmova/pdf/ocarina.pdf"><i class="icon-down-circled elsxuti"></i></a>
	</div>
	<!--
    <div class="pure-u-1-6" >
		<a href="{{ SITEURL }}/katalogo/cvaim">
			<img
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/cvaim.bn.png" style="width: 100%; max-width: 256px"
				onmouseover="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/cvaim.kol.png';"
				onmouseout="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/cvaim.bn.png';" />
			<br/>
			אותיות בצבעים
		</a><br/>
		<a href="{{ SITEURL }}/senmova/pdf/cvaim.kol.pdf"><i class="icon-down-circled elsxuti"></i></a><a href="{{ SITEURL }}/senmova/pdf/cvaim.bn.pdf"><i class="icon-down-circled elsxuti"></i></a>
	</div>
	-->
    <div class="pure-u-1-6" >
		<a href="{{ SITEURL }}/katalogo/ukulele">
			<img
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele.bn.png" style="width: 100%; max-width: 256px"
				onmouseover="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele.kol.png';"
				onmouseout="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele.bn.png';" /><br/>
				אוקליקלות</a><br />
		<a href="{{ SITEURL }}/senmova/pdf/ukulele.pdf"><i class="icon-down-circled elsxuti"></i></a>
	</div>
   <!-- <div class="pure-u-1-6" >
		<a href="{{ SITEURL }}/ukulele-2">
			<img
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele-2.bn.png" style="width: 100%; max-width: 256px"
				onmouseover="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele-2.kol.png';"
				onmouseout="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/ukulele-2.bn.png';" /><br/>
			אוקליקלות 2</a>
		<a href="{{ SITEURL }}/senmova/pdf/ukulele-2.pdf"><i class="icon-down-circled elsxuti"></i></a>
		</div> -->
    <div class="pure-u-1-6" >
		<a href="{{ SITEURL }}/katalogo/babel">
			<img
				src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/babel.bn.png" style="width: 100%; max-width: 256px"
				onmouseover="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/babel.kol.png';"
				onmouseout="this.src='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/media/ikonoj/babel.bn.png';" /><br/>
				בבל</a><br />
		<a href="{{ SITEURL }}/senmova/pdf/babel.pdf"><i class="icon-down-circled elsxuti"></i></a>
	</div>
</center>

<section id="content">
<p><strong>פושישית</strong> היא הוצאה לאור קטנה קטנה, של אדם אחד. כל מה שיוצא בפושישית יוצא הן בפורמט דיגיטלי (+קוד מקור) והן בדפוס במחיר עלות ההדפסה.</p>

<p>אתן מוזמנים לקרוא עוד בעמוד ה<a href="{{ SITEURL }}/pri">אודות</a>, לקרוא מ<a href="{{ SITEURL }}/katalogo">הטקסטים שיצאו עד כה</a>, לשאול <a href="{{ SITEURL }}/novajxoj.html">מה נשתנה</a>, וכמובן <a href="{{ SITEURL }}/partopreni">להושיט יד</a> (או כתב־יד!).</p>

<p>בתקווה שתמצאו הנאה, עניין וחומר למחשבה,<br/>
יודה רונן</p>
</section><!-- /#content -->
{% endblock content %}
