
.icon-down-circled:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\e801'; } /* '' */
.icon-megaphone:before { content: '\e802'; } /* '' */
.icon-bug:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-globe:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */